[Desktop Entry]
Type=Application
Name=Meteo-qt
Name[el]=Meteo-qt
Name[pl]=Meteo-qt
Name[ru]=Meteo-qt
Name[uk]=Meteo-qt
Name[es]=Meteo-qt
GenericName=Weather status information
GenericName[de]=Informationen zur Wetterlage
GenericName[el]=Μετεωρολογικές πληροφορίες
GenericName[pl]=Informacje pogodowe
GenericName[ru]=Сведения о погоде
GenericName[uk]=Дані щодо погоди
GenericName[es]=Información meteorológica
Comment=A Qt system tray application for weather information
Comment[de]=Qt Anwendung für die Benachrichtungsfläche von Taskleisten, die Informationen zur Wetterlage anzeigt
Comment[el]=Μια Qt εφαρμογή πλαισίου συστήματος για τις καιρικές συνθήκες
Comment[pl]=Aplikacja Qt z informacjami pogodowymi zasobniku systemowym
Comment[ru]=Отображает сведения о погоде в системном лотке
Comment[uk]=Програма на Qt, що показує дані щодо погоди у системному лотку
Comment[es]=Una aplicación de icono de bandeja para información meteorológica
Exec=meteo-qt
Icon=meteo-qt
Terminal=false
StartupNotify=false
Categories=Qt;LXQt;Network;
X-DBUS-ServiceName=meteo-qt
